/* Add a gray background color and some padding to the footer */
footer {
  background-color: #696a6d;
  padding: 25px;
}

#map {
    /* background: lightblue; */
}

#barChart {
    /* background: lightblue; */
}

#parallel {
    background: lightblue;
}
