/* Add a gray background color and some padding to the footer */

footer {
    background-color: #191818;
    padding: 25px;
    opacity: 0.3;
}

footer p {
    color: #848484;
}

/* Tooltip CSS */

.d3-tip {
    line-height: 1.5;
    font-weight: 400;
    font-family: "avenir next", Arial, sans-serif;
    padding: 6px;
    background: rgba(0, 0, 0, 0.6);
    color: #FFA500;
    border-radius: 1px;
    pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */

.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 8px;
    width: 100%;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.6);
    position: relative;
    pointer-events: none;
}

.details {
    color: white;
}

.checkbox {
    float: left;
}

#barChart rect {
    /* fill: #ce5c00; */
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.chartVis text {
    fill: black;
    font: 14px sans-serif;
    text-anchor: middle;
}

#chartText {
    fill: white;
    font: 9px sans-serif;
}

/* parallel */
.background path {
    fill: none;
    stroke: #e07f00;
    opacity: 0.3;
    shape-rendering: crispEdges;
}

.foreground path {
    fill: none;
    stroke: #e07f00;
    stroke-width: 2;
}

.brush .extent {
    fill-opacity: .3;
    stroke: #fff;
    shape-rendering: crispEdges;
}

.axis line, .axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
    cursor: move;
}
