.jumbotron {
    margin-bottom: 0px;
    background-image: url(../../doc/1.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #1f1f21;
  padding: 25px;
}

#map {
    /* background: lightblue; */
}

#barChart {
    /* background: darkblue; */
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


#parallel {
    background: lightblue;
}
